/*
 * -------------------------------------------------
 * Nextflow config file for illumina-hpv
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}


params {

  // Resources
  max_cpus = 24
  max_memory = 256.GB
  max_time = 72.h

}

process {
  container = "phinguyen2000/bowtie2-samtools:1b8f8a1"

  withName:trimGalore {
    container = "phinguyen2000/trim-galore:231627f"
  }
  withName:fastqc {
    container = "biocontainers/fastqc:v0.11.8dfsg-2-deb_cv1"
  }
  withName:HPVlocalMappingStats {
    container = "biocontainers/bedtools:v2.28.0_cv2"
  }
  withName:HPVcoverage {
    container = "phinguyen2000/deeptools-samtools:c413f4f"
  }
  withName:extractBreakpointsSequence {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:blatSoftClippedSeq {
    container = "phinguyen2000/blat:255336f"
  }
  withName:blatSummary {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:make_hpv_config_persample {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:multiqc {
    container = "phinguyen2000/multiqc:48b6b9d"
  }
  withName:multiqc_allsamples {
    container = "phinguyen2000/multiqc:48b6b9d"
  }
  withName:make_hpv_config {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:get_software_versions{
    container = "phinguyen2000/hpv_version:9c95c92"
  }
  withName:makeBowtie2IndexHPV{
    container = "phinguyen2000/hpv_version:9c95c92"
  }
}
