/*
 * -------------------------------------------------
 * Nextflow config file for illumina-hpv
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
*/

process {
  container = "phinguyen2000/bowtie2-samtools:1b8f8a1"

  withName:HPVcoverage {
    container = "phinguyen2000/deeptools-samtools:c413f4f"
  }
  withName:extractBreakpointsSequence {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:blatSoftClippedSeq {
    container = "phinguyen2000/blat:255336f"
  }
  withName:blatSummary {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:make_hpv_config_persample {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:multiqc {
    container = "phinguyen2000/multiqc:48b6b9d"
  }
  withName:multiqc_allsamples {
    container = "phinguyen2000/multiqc:48b6b9d"
  }
  withName:make_hpv_config {
    container = "phinguyen2000/pandas:813ad74"
  }
  withName:get_software_versions{
    container = "phinguyen2000/hpv_version:9c95c92"
  }
  withName:makeBowtie2IndexHPV{
    container = "phinguyen2000/hpv_version:9c95c92"
  }
}
