/*
 * -------------------------------------------------
 * Nextflow config file for illumina-hpv
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
*/

process {
  container = "phinguyen2000/bowtie2-samtools:1b8f8a1"
}
