/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {

  //Define where the annotation are available
  genomes_base = '/data/annotations/pipelines/'

  genomes {

    'hg38' {
      fasta   = "${params.igenomes['hg38']['fasta']}"
//      bowtie2 = "${params.genomes_base}/Human/hg38/indexes/bowtie2/hg38"
//      blatdb  = "${params.genomes_base}/Human/hg38/genome/hg38.2bit"
    }
    'hg19' {
      fasta   = "${params.igenomes['hg19'].fasta}"
      bwt2Index     = ""
//      bowtie2 = "${params.genomes_base}/Human/hg19/indexes/bowtie2/hg19"
//      blatdb  =	"${params.genomes_base}/Human/hg19/genome/hg19.2bit"
    }

    'HPV' {
      fasta         = "${baseDir}/assets/HPV_REF_PaVE_65.fa"
//      bowtie2       = "${params.genomes_base}/HPV/PAVE/indexes/bowtie2/HPV_REF_PaVE_65"
//      bowtie2Split  = "${params.genomes_base}/HPV/PAVE/indexes/bowtie2_split/"
      genes         = "${baseDir}/assets/HPV_genes.tsv"
      ctrlCapture   = "${baseDir}/assets/ctrl_capture.fasta"
    }
  }
}
