// Configs to run on HPC of KTEST-VN (https://www.ktest.vn/)


singularity{
    enabled                           = true
    cacheDir                          = "$SINGULARITY_CACHEDIR"
    runOptions                        = "--bind /home,/tmp:/tmp"
}

executor{
    name                              = 'slurm'
    queueSize                         = 30
}

process{

    errorStrategy                     = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries                        =  5

    queue                             = 'prod'
    maxForks                          = 30
}
